<div class="container">
  <h1> <%= @restaurant.name %></h1>

  <div>
    <%= @restaurant.address %> - <br>
    <%= @restaurant.phone_number %>
  </div>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
